@import '~@angular/material/theming';

@include mat-core();

// Configure meme-viewer theme with material color palettes 
$meme-viewer-primary: mat-palette($mat-blue-gray, 800);
$meme-viewer-accent: mat-palette($mat-green, 900);
$meme-viewer-warn: mat-palette($mat-gray, 900);

$meme-viewer-theme: mat-light-theme(
    $meme-viewer-primary, 
    $meme-viewer-accent, 
    $meme-viewer-warn
);

@include angular-material-theme($meme-viewer-theme);


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
