<!-- Header toolbar -->
<mat-toolbar color="accent">

  <!-- Filter toggle button -->
  <button type="button" mat-icon-button (click)="filterToggle.emit()" matTooltipShowDelay="500"
    [matTooltip]="(filterOpen ? 'tooltips.close_filter' : 'tooltips.open_filter') | translate">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>{{ 'app_title' | translate }}</span>
  <span class="spacer"></span>

  <!-- Help button -->
  <button mat-icon-button (click)="openHelp()" matTooltipShowDelay="500"
    [matTooltip]="'tooltips.help' | translate">
    <mat-icon>help_outline</mat-icon>
  </button>

  <!-- Language button -->
  <button mat-icon-button [matMenuTriggerFor]="langMenu" matTooltipShowDelay="500"
    [matTooltip]="'tooltips.language' | translate">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #langMenu="matMenu">
    <button *ngFor="let lang of langs" mat-menu-item (click)="setLang(lang)">
      {{ 'langs.' + lang | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
