<!-- Filter side navigation -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    class="sidenav" 
    fixedInViewport="true" 
    [fixedTopGap]="(isHandset$ | async) ? 56 : 64" 
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async) && filterOpen">

    <!-- Header toolbar -->
    <mat-toolbar color="warn" class="filter_header">
      <span>{{ 'filter.title' | translate }}</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="close()" matTooltipShowDelay="500" matTooltipPosition="right"
        [matTooltip]="'tooltips.close_filter' | translate">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <form>
      <!-- Search field -->
      <mat-form-field>
        <input name="search" matInput type="text" [placeholder]="'placeholders.search' | translate" [(ngModel)]="filterValue">
        <!-- <button mat-button matSuffix mat-icon-button matTooltipShowDelay="500" matTooltipPosition="right"
          [matTooltip]="'tooltips.submit' | translate">
          <mat-icon>send</mat-icon>
        </button> -->
      </mat-form-field>

      <br><br>

      <!-- Type selection -->
      <mat-radio-group name="type" [(ngModel)]="filterType">
        <label class="mat-subheading-2">{{ 'meme_type.label' | translate }}</label>
        <mat-radio-button *ngFor="let type of types" [value]="type">
          {{ 'meme_type.' + type | translate }}
        </mat-radio-button>
      </mat-radio-group>

      <br><br>

      <!-- Filter actions -->
      <button mat-raised-button color="primary" (click)="restoreDefaults()">
        {{ 'filter_actions.restore' | translate }}
        <mat-icon>restore</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="randomFilter()">
        {{ 'filter_actions.random' | translate }}
        <mat-icon>shuffle</mat-icon>
      </button>
      <br *ngIf="isHandset$ | async">
      <button mat-raised-button color="accent" (click)="applyFilter()">
        {{ 'filter_actions.apply' | translate }}
        <mat-icon>done</mat-icon>
      </button>

      <div class="img-provider">
        <span>{{ 'provided_by' | translate }}</span>
        <a href="https://imgur.com/" target="_blank">
          <img src="../../../assets/images/imgur_logo.png" alt="Imgur Logo" width="100px" height="100px">
        </a>
      </div>
    </form>

    <!-- Footer toolbar -->
    <mat-toolbar color="warn" class="filter_footer">
      <span class="mat-body-1">{{ 'created_by' | translate }}</span>
      <span class="spacer"></span>
      <span class="mat-body-1" *ngIf="!(isHandset$ | async)">Copyright &copy; 2018</span>
      <span class="spacer"></span>
      <a href="https://github.com/AndriWandres/meme-generator" target ="_blank" class="mat-body-1">GitHub</a>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Main content -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
