@import '~@angular/material/theming';
@import '../../../mixins.scss';

:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.frame {
  @include mat-elevation(10);
}

div.content {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.meme_actions button {
  margin-left: 10px;

  mat-icon {
    margin-left: 7px;
  }
}

.meme_heading {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85%;
}

button[mat-fab] {
  margin: 5%;

  @include handset {
    position: fixed;
    bottom: 0;
    margin: 15px;

    &.previous {
      left: 0
    }
    &.next {
      right: 0
    }
  }
}

img, video {
  max-height: 60vh;
  width: auto;
}
